*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h4{
    text-transform: capitalize;
    margin-bottom: 10px;
}
body{
    background: rgba(0,0,0,0.25);
}
.title{
    margin-top: 30px;
    font-size: 33px;
    margin-bottom: 20px;
    color: #350407;
}
.beers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.section-center{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.beer-item{
    background: #fff;
    max-width: 800px;
    height: 100%;
    color: #222;
    padding: 25px;
    border: 1px solid rgba(0,0,0,0.55);
    border-radius: 10px;
    box-shadow: 18px 17px 5px 0px rgba(0,0,0,0.75);

}
.filter-btn{
    padding:10px;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 60px;
    border-radius: 10px;
    border-style: none;
    outline-style: none;
    text-transform: capitalize;
    background: #FDC636;
    color: #fff;
    font-weight: 800;
}
.filter-btn:hover{
    background: #6C0210;
}
.photo{
    max-width: 400px;
    margin-bottom: 15px;
}
@media screen and (max-width:600px){
    .filter-btn{
        min-width: 100px;
        margin-left: 20px;
    }
}